<!DOCTYPE html> <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Refresh" content="3; t1_p1_setTaskAndTimer.html"> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anmeldung erfolgreich</title>

</head>
<body>
<h1 style="text-align: center;">
    Erfolgreich angemeldet!
</h1>
<br>
<p> <a href="logon.html"> Zurück zur Startseite? </a> 
</p>

    
</body>
</html>