 
 
<!DOCTYPE html>
<html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anmeldung</title>
 </head>
 
 <body style="
 display: flex;
 flex-direction: column;"
 >
 
    <h1 style = 
        "text-align: center;
        font-size: 30px;
        color: black;">

        <em>Herzlich Willkommen zum Anti-Prokrastinator! </em>
        <br>
        
    </h1>


    <container style="display: flex; flex-direction: row; justify-content: space-evenly;">
        <h2 style = "text-align: center; font-size: 25px;">
            Bitte melde dich an


            <form action="logon" method ="post" style="
            width: 500px;
            height: 500px;
            display: flexbox; 
            justify-content: center;
            background-color:red;
            margin-top: 50px;
            font-size: 30px;"
            >
                Username<br/> <input type = "text" name = "username" style="width: 300px; height: 25px;">
                <br/> 
                Passwort<br/> <input type = "password" name = "passwort"  style="width: 300px; height: 25px;"> 
                <br>
                <button type="submit" style="width: 150px; height: 50px;">Absenden</button>

            </form>
    
        </h2>
    
        <br/>
    
        <h3 style="text-align: center; font-size: 25px;">
            Oder registriere dich ;)
                
            <form action="sign_up" method ="post" style="
            width: 500px;
            height: 500px;
            display: flexbox; 
            justify-content: center;
            background-color:red;
            margin-top: 50px;
            font-size: 30px;">
                Username<br> <input type = "text" name = "username" style="width: 300px; height: 25px;">
                <br/> 
                Passwort<br> <input type = "password" name = "passwort" style="width: 300px; height: 25px;"> <br>
    
                <button type="submit">Absenden</button>
    
    
                
            </form>
    
    
        </h3>
    </container>
   

 </body>
 
 </html>