 
 
 <!DOCTYPE html>
 <html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anmeldung</title>
 </head>
 
 <body>
 
    <h1 style = "text-align: center;
    font-size: 50px;
    color: black;">

    <em>Herzlich Willkommen zum Anti-Prokrastinator! </em>
    <br>
    Bitte melde dich an
</h1>



<h2 style = "text-align: center; font-size: 25px;">


<form action="logon" method ="post">
    Name: <input type = "text" name = "username"> 
    Passwort: <input type = "password" name = "passwort"> <br>

    <button type="submit">Absenden</button>


    
</form>

</h2>

<br> <br>

<h3 style="text-align: center; font-size: 25px;">
Oder registriere dich, falls du es noch nicht bist ;)
    
<form action="sign_up" method ="post">
    Name: <input type = "text" name = "username"> 
    Passwort: <input type = "password" name = "passwort"> <br>

    <button type="submit">Absenden</button>


    
</form>


</h3>

 </body>
 
 </html>