<!DOCTYPE html>
<html lang="en">
<head>
    <link href="t1_p4_taskDone.css" type="text/css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <br>
Gückwunsch! Du hast deine Aufgabe geschafft!


    <p> <a href="Start"> Zurück zur Startseite </a> </p>
    <form action="/Spin_the_wheel" method="POST">       
        <button type="submit">Spin the Wheel</button> 
    </form> 

</body>
</html>