<!DOCTYPE html>
<html lang="en">
<head>
    <link href="t1_p5_taskFailed.css" type="text/css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Herzlichen Glückwunsch! Du hast deine Aufgabe geschafft.</h1>

<h2>
    

    <img src = "<%=image%>" width = "50%" height="50%">

    <p style="text-align: center;"> <a href="t1_p1_setTaskAndTimer.html" > Schaffst du eine weitere Aufgabe? </a> </p>

</h2>

       
</body>
</html>