<head>
    <link href="t1_p2_showCountdown.css" type="text/css" rel="stylesheet">
</head>

<div class="content-wrapper" style="min-height: 823px;">

    <div class="modal fade" id="formModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

            <h1 > Du möchtest also: <%=aufgabe%>   </h1>
            <h2 class="m-0 text-dark mt-3">Du hast noch: <span id="timer"></span> Zeit </h2>
            </div>
        </div>
    </div>



</div>


<script>
        
    var timer_task = "<%=aufgabe%>"
    var time_minutes = <%=minutes%>
    var time_seconds = <%=seconds%>

   
    console.log(timer_task + " " + time_minutes + " " + time_seconds);


    timer_text = time_minutes + ":" + time_seconds;

    //Testen, ob der Text auch richtig formatiert wurde
    console.log(timer_text);

    function callMe(data) {
        document.getElementById('names').value = data;
        $('#formModel').modal('show');
    }
    
    //Timer wird mithilfe des timer_text initialisiert
    document.getElementById('timer').innerHTML = timer_text;

    startTimer();
    function startTimer() {
        var presentTime = document.getElementById('timer').innerHTML;
        var timeArray = presentTime.split(/[:]+/);
        var m = timeArray[0];
        var s = checkSecond((timeArray[1] - 1));
        if (s == 59) { m = m - 1 };
        if (m < 0) {
            //Bei Ablauf der Zeit wird user auf die Seite geschickt, bei der er "zugeben soll, was er geschafft hat"
           window.location.replace("t1_p3_evaluate.html");
            
        }

        if (s < 10 && m == "00") {
            document.getElementById("clicable1").disabled = true;
            document.getElementById("clicable2").disabled = true;
            document.getElementById("insert").disabled = true;
        }

        document.getElementById('timer').innerHTML = m + ":" + s;
        setTimeout(startTimer, 1000);
    }

    function checkSecond(sec) {
        if (sec < 10 && sec >= 0) { sec = "0" + sec };
        if (sec < 0) { sec = "59" };
        return sec;
    }

</script>





</body>


</html>