<!DOCTYPE html>
<html lang="en">
<head>
    <link href="css/t1_p4_taskDone.css" type="text/css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <img src = "<%=image%>" width = "50%" height="50%">
    <container>
        <textAfterTask>
            <Text>Du hättest in der Zeit deine Aufgabe schaffen können.
                Hat sich das Prokrastinieren gut angefühlt?</Text>
            <form action="/set-your-task", method="get"> 
                <button type="submit">
                    Versuch es nochmal
                </button>
            </form>
        <textAfterTask/>
    </container>      
</body>
</html>