<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <br>
    <h1> Glückwunsch! Du hast deine Aufgabe: <%=task_done%>  geschafft! </h1>


    <p> <a href="Start"> Zurück zur Startseite </a> </p>
    <form action="/Spin_the_wheel" method="POST">       
        <button type="submit">Spin the Wheel</button> 
    </form> 

</body>
</html>