h1 {
    text-align: center;
    font-size: 35px;
      
}

h2 {
    margin: 0;
    font-size: 1.5em;
    padding:10px;
      
}

h3{
text-align: center;
font-size: 50px;
}


body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
  }
  
  #app {
    width: 100%;
    height: 55%;  
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .doors {
    display: flex;
  }
  
  
  .door {
  
  background: #fafafa;
  width: 700px;
  height: 200px;
  overflow: hidden;
  border: 2px solid black;
  border-radius: 5px;
  margin: 5px;
  font-size: 40px;
  }
  
  .boxes {
    /* transform: translateY(0); */
    transition: transform 1s ease-in-out;
  }
  
  .box {
    border:pink;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    font-size: 40px;
  }
  
  .buttons {
    margin: 1rem 0 2rem 0;
  }
  
  .button {
    
    cursor: pointer;
    font-size: 5em;
    margin: 0 0.2rem;
    border: 50px solid pink;
    padding: 50px 15px;
  }
  
  .timer_box{
    text-align: center;
    width:500px;
    float:left;
    padding: 10px;
    border : 5px solid black;
    margin:0px;
    font-size:50px;
  }
  
  .task_box{
    text-align: center;
    width:500px;
    float:left;
    padding: 10px;
    border : 5px solid black;
    margin:0;
    font-size:50px;

  }
  
  .column {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    float: left;
    width: 33.33%;
    padding: 5px;
  }

  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  /* spinner css. src: https://codepen.io/GhostCode99/pen/BaQePwW*/
  *{
    box-sizing:border-box;
  }
  
  body{
    margin:0;
    padding-left: 10px;
    align-items:center;
    justify-content: center;
    height:100vh;
    overflow:hidden;
  }
  
  .container{
    width:500px;
    height:500px;
    background-color: #ccc;
    border-radius:50%;
    border:15px solid #dde;
    position: relative;
    overflow: hidden;
    transition: 5s;
  }
  
  .container div{
    height:50%;
    width:200px;
    position: absolute;
    clip-path: polygon(100% 0 , 50% 100% , 0 0 );
    transform:translateX(-50%);
    transform-origin:bottom;
    text-align:center;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size:20px;
    font-weight:bold;
    font-family:sans-serif;
    color:#fff;
    left:135px;
  }
  
  .container .one{
    background-color: #3f51b5;
    left:50%;
  }
  .container .two{
    background-color: #ff9800;
    transform: rotate(45deg);
  }
  .container .three{
    background-color: #e91e63;
    transform:rotate(90deg);
  }
  .container .four{
    background-color: #4caf50;
    transform: rotate(135deg);
  }
  .container .five{
    background-color: #009688;
    transform: rotate(180deg);
  }
  .container .six{
    background-color: #795548;
    transform: rotate(225deg);
  }
  .container .seven{
    background-color: #9c27b0;
    transform: rotate(270deg);
  }
  .container .eight{
    background-color: #f44336;
    transform: rotate(315deg);
  }
  
  .arrow{
    position: absolute;
    top:20%;
    left:34%;
    transform: translateX(-50%);
    color: black;
  }
  
  .arrow::before{
    content:"\1F817";
    font-size:50px;
  }
  
  #spinner{
    position: absolute;
    top:60%;
    left:520px;
    transform:translate(-50%,-50%);
    z-index:10;
    background-color: #e2e2e2;
    text-transform: uppercase;
    border:8px solid #fff;
    font-weight:bold;
    font-size: 20px;
    color:#a2a2a2;
    width: 80px;
    height:80px;
    font-family: sans-serif;
    border-radius:50%;
    cursor: pointer;
    outline:none;
    letter-spacing: 1px;
  }
