<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ende</title>
</head>

<body>

    <h1> hast du es geschafft? </h1>
    <br>
    <form action="/ergebnis_ja" method="POST">
        
        <button type="submit">Ja</button>
        
    </form>
    <form action="/ergebnis_nein" method="POST">
        
        <button type="submit">Nein</button>
        
    </form>


</body>

</html>