<!DOCTYPE html>
<html>
    <body>
        <h1>Spin the Wheel!</h1>
        <form action="Spin_the_wheel" method="POST">
            <button id="spinner">Spin</button>
        </div>
        <h2>
            <%=showTrivia%>
        </h2>
    </body>
</html>